{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Myblog</title>

        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/index.css'%}" />
</head>
<body>
	<div>
		<h1 id="head">欢迎浏览陈枭的个人博客</h1>
	</div>

	<div id="index">
		<ul>
			<li><a href="{% url 'index' %}">首   页</a></li>
			<li><a href="{% url 'write' %}">编写博客</a></li>
			<li><a href="{% url 'author'%}">关于作者</a></li>
			<li><a href="#">获取源码</a></li>
		</ul>
	</div>

	<div id="content_list">
		<h2>已有文章</h2>
		<ul>
			{% for i in essay %}
				<li><a href="{% url 'details' i.id%}">{{ i.topic }}</a> </li>
			{% endfor %}
		</ul>
	</div>
		
	
</body>
</html>
